/* Style Guide */
/* #757575 for icons */
/* #1A8917 following text */
/* #FAFAFA sticky */
/* media responsiveness : breakpoint= 1080 */

body,
html {
  margin: 15px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* Navigation  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.logo img {
  width: 220px;
}
img.search {
  width: 18px;
  vertical-align: middle;
}
img.search + input {
  vertical-align: middle;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 300;
  padding-left: 5px;
}
@media (max-width: 800px) {
  img.search + input {
    display: none;
  }
  img.search {
    margin-right: 20px;
  }
}
/* icons */
.links img.nav-icons {
  width: 20px;
  vertical-align: middle;
  padding-right: 20px;
}
.links input[type="button"] {
  margin-right: 15px;
  background-color: #fff;
  padding: 9px 20px;
  border: #757575 1px solid;
  border-radius: 7%;
}
/* profile image */
.links img.nav-profile {
  vertical-align: middle;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
/* End Navigation */

/* Post */

.post-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.featured {
  width: 30%;
  transition: all 0.2s ease-in;
}
@media (max-width: 1080px) {
  .featured {
    width: 50%;
  }
}
.latest {
  width: 35%;
  transition: all 0.2s ease-in;
}
@media (max-width: 1080px) {
  .latest {
    width: 45%;
  }
}

/* featured - lg post */
.post-text-lg {
  width: 100%;
}
.featured .post-text-lg tr:nth-child(1) img {
  width: 100%;
}

.featured .post-text-lg tr:nth-child(2) {
  font-size: 12px;
  font-weight: 600;
  width: 100%;
}
.featured .post-text-lg tr:nth-child(2) td {
  padding-top: 20px;
}
.featured .post-text-lg tr:nth-child(2) img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
.featured .post-text-lg span {
  color: #757575;
}

.featured .post-text-lg tr:nth-child(3) {
  font-size: 20px;
  font-weight: 700;
}
.featured .post-text-lg tr:nth-child(3) td {
  padding-top: 20px;
}
.featured .post-text-lg tr:nth-child(4) {
  font-size: 15px;
  font-weight: 400;
}
.featured .post-text-lg tr:nth-child(5) {
  font-size: 12px;
}
.featured .post-text-lg tr:nth-child(5) td {
  padding-top: 20px;
}
.featured .post-text-lg tr:nth-child(5) a {
  text-decoration: none;
  color: #757575;
}
.featured .post-text-lg tr:nth-child(5) img {
  vertical-align: middle;
  width: 12px;
}

/* latest */

.latest-container {
  width: 100%;
}

.latest .table-container {
  margin-bottom: 30px;
}
.latest table {
  width: 350px;
  width: 100%;
}

.latest {
  margin-left: 20px;
}

.latest .post-top-text {
  font-size: 12px;
  font-weight: 600;
  vertical-align: top;
}
.latest .post-top-text span {
  color: #757575;
}
.latest .post-top-text img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
.latest.post-right-img {
  text-align: right;
}
.latest .post-right-img img {
  width: 120px;
}
.latest .post-heading {
  font-size: 18px;
  font-weight: 700;
  vertical-align: top;
}
.latest .end-post-link a {
  text-decoration: none;
  color: #757575;
}
.latest .end-post-link {
  font-size: 12px;
  color: #757575;
  vertical-align: top;
}
.latest .end-post-link img {
  vertical-align: middle;
  width: 12px;
}
/* End Post */

/* vertical line */
.vl {
  display: block;
  border-left: rgba(0, 0, 0, 0.1) solid 1px;
  height: 700px;
}

@media (max-width: 1080px) {
  .vl {
    display: none;
  }
}

/* following */

.container-both {
  width: 100%;
}
@media (max-width: 1080px) {
  .container-both {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
  }
  .following {
    width: 100%;
  }
}

.container-following tr:nth-child(1) {
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
}
.container-following table {
  border-collapse: collapse;
  table-layout: fixed;
}
.container-following .following-avatar {
  margin-top: 20px;
  width: 70px;
  margin-right: 30px;
  cursor: pointer;
}
.container-following tr:nth-child(4) td {
  padding-top: 30px;
  color: #1a8917;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 1080px) {
  .container-following {
    width: 70%;
  }
  .container-topics {
    width: 50%;
  }
  .container-following .following-avatar {
    width: 100px;
  }
}
/* topics */

.container-topics tr:nth-child(1) td {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
}
@media (max-width: 1080px) {
  .container-topics tr:nth-child(1) td {
    padding-top: 0;
  }
}

.container-topics .topic td span {
  font-size: 15px;
  font-weight: 600;
  margin-right: 50px;
  cursor: pointer;
}
.container-topics .topic input[type="button"] {
  background-color: #fff;
  padding: 9px 20px;
  border: #1a8917 1px solid;
  border-radius: 7%;
  color: #1a8917;
  cursor: pointer;
}
.container-topics hr {
  border: none;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
  margin: 20px 0;
}
.container-topics tr:nth-child(8) td {
  color: #1a8917;
  font-size: 15px;
  font-weight: 500;
}

/* end following and topic container */

/* below posts */

.container-post-and-sticky {
  display: flex;
}

.container-below-post .table-container {
  margin-top: 70px;
}

.container-below-post .post-top-text {
  font-size: 12px;
  font-weight: 600;
  vertical-align: top;
}
.container-below-post .post-top-text span {
  color: #757575;
}
.container-below-post .post-top-text img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
.container-below-post .post-right-img {
  text-align: right;
}
.container-below-post .post-right-img img {
  width: 220px;
  margin-left: 40px;
}
.container-below-post .post-heading {
  font-size: 22px;
  font-weight: 700;
  vertical-align: top;
}
.container-below-post .end-post-link a {
  text-decoration: none;
  color: #757575;
}
.container-below-post .end-post-link {
  font-size: 12px;
  color: #757575;
  vertical-align: top;
  padding: 15px 0;
}
.container-below-post .end-post-link img {
  vertical-align: middle;
  width: 12px;
}
.container-below-post .post-detail {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
}

.container-below-post {
  width: 65%;
}
@media (max-width: 1080px) {
  .container-below-post .post-detail {
    display: none;
  }
  .container-below-post .post-right-img img {
    width: 170px;
  }
  .container-below-post .post-heading {
    font-size: 17px;
  }
  .container-below-post .end-post-link {
    font-size: 10px;
  }
}

/* container sticky */

.container-sticky {
  margin-top: 70px;
  margin-left: 100px;
  width: 350px;
  height: 500px;
  background-color: #fafafa;
  position: sticky;
  top: 40px;
  box-shadow: 0 2px 30px rgba(154, 160, 185, 0.03),
    0 2px 30px rgba(166, 173, 201, 0.02);
}
.container-sticky .table-container {
  padding: 30px;
  padding-right: 35px;
}
.container-sticky .post-top-text {
  font-size: 12px;
  font-weight: 600;
  vertical-align: top;
}
.container-sticky .post-top-text span {
  color: #757575;
}
.container-sticky .post-top-text img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

.container-sticky .top-heading img {
  width: 20px;
  vertical-align: middle;
  padding-right: 20px;
}
.container-sticky .top-heading span {
  font-size: 13px;
  font-weight: 800;
  vertical-align: middle;
  text-transform: uppercase;
  margin-left: -15px;
}
.container-sticky .top-heading {
  padding-bottom: 20px;
}
.container-sticky .post-heading {
  font-size: 14px;
  font-weight: 700;
  vertical-align: top;
}
.container-sticky .end-post-link a {
  text-decoration: none;
  color: #757575;
}
.container-sticky .end-post-link {
  font-size: 12px;
  color: #757575;
  vertical-align: top;
}
.container-sticky .end-post-link img {
  vertical-align: middle;
  width: 12px;
}
.container-sticky .see-more {
  padding-top: 30px;
  color: #1a8917;
  font-size: 13px;
  font-weight: 500;
}
